body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(9, 8, 8);
  
}

.container {
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 50vh;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.wallet-box {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 10px 20px;
  width: fit-content;
  align-self: flex-end;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.location-box {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


#map {
  height: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
    background-color: #444;
  }
  

#address {
  font-size: 14px;
  color: #040101;
}

.ride-notification {
  border: 1px solid rgb(21, 9, 9);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
#ride-buttons button {
  margin: 5px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#ride-buttons button:hover {
  opacity: 0.9;
}
#ride-box {
  transition: all 0.3s ease;
}

@media screen and (max-width: 480px) {
  #map {
    height: 250px;
  }
}